namespace: 'youpayroll'

app_name: 'youpayroll'
environment: 'sandbox'

service:
  name: 'youpayroll-nginx'
  default:
    port: 80
    protocol: 'TCP'
    targetPort: 80
  https:
    port: 443
    protocol: 'TCP'
    targetPort: 80

hpa:
  name: 'youpayroll-nginx-hpa'
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

pdb:
  name: 'youpayroll-nginx-pdb'
  minAvailable: 50%

deployment:
  name: 'youpayroll-nginx-deployment'
  replicas: 3
  maxSurge: 100%
  maxUnavailable: 0%

  containers:
    default:
      name: 'nginx'
      imagePullPolicy: 'Always'
      image: '459037613883.dkr.ecr.me-central-1.amazonaws.com/production/ygg/youpayroll/backend-nginx:[BUILD_TAG]'
      port: 80
      memory:
        requests: 32Mi
        limits: 64Mi
      cpu:
        requests: 10m
        limits: 100m
      health:
        path: '/nginx-health'
        port: 80
        scheme: 'HTTP'
      startupProbe:
        initialDelaySeconds: 3
        periodSeconds: 5
        timeoutSeconds: 2
        successThreshold: 1
        failureThreshold: 5
      readinessProbe:
        initialDelaySeconds: 0
        periodSeconds: 5
        timeoutSeconds: 2
        successThreshold: 1
        failureThreshold: 3
      livenessProbe:
        initialDelaySeconds: 0
        periodSeconds: 5
        timeoutSeconds: 2
        successThreshold: 1
        failureThreshold: 4

  volumes:
    local:
      - name: 'ygag-youpayroll-sandbox-nginx-logs'
        mountPath: '/var/log/nginx/'
        hostPath: '/home/ec2-user/ygag-logs/ygag-youpayroll-sandbox/nginx'

  initContainers:
    app:
      - image: '459037613883.dkr.ecr.me-central-1.amazonaws.com/production/k8s/official/busybox:latest'
        host: 'youpayroll-app'
        name: 'init-app'
        port: 8000
        healthPath: '/health/'

  nodeSelector:
    key: 'karpenter.sh/nodepool'
    value: 'default'

  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: 'topology.kubernetes.io/zone'
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: 'youpayroll'
          tier: nginx
    - maxSkew: 1
      topologyKey: 'kubernetes.io/hostname'
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: 'youpayroll'
          tier: nginx

  priorityClassName: 'sandbox-medium'
  terminationGracePeriodSeconds: 100
