*.pyc
__pycache__/
.env
.idea/
db.sqlite3
db.sqlite3.bak
media/
staticfiles/
.DS_Store
node_modules/
dist/
venv/
env/
.venv/
*.log
celery_debug.log
dump.rdb
logs/
data/
celerybeat-schedule
backend_backup/
