namespace: 'youpayroll-[JIRA_ID]'

app_name: 'youpayroll-[JIRA_ID]'

job:
  name: 'youpayroll-[JIRA_ID]-collectstatic-job'
  backoffLimit: 0
  activeDeadlineSeconds: 900
  ttlSecondsAfterFinished: 30
  serviceAccountName: 'ygag-youpayroll-vault'

  containers:
    - name: 'collectstatic'
      imagePullPolicy: 'IfNotPresent'
      image: '420360167813.dkr.ecr.me-central-1.amazonaws.com/qa/ygg/youpayroll/backend-app:[BUILD_TAG]'
      command: '["sh", "-c", "/bin/cat /vault/secrets/application.env /vault/secrets/application-devops.env > /etc/profile.d/application-env.sh ; sed -i \"s/\\[JIRA_ID\\]/[JIRA_ID]/g\" /etc/profile.d/application-env.sh ; source /etc/profile.d/application-env.sh ; python3.11 manage.py collectstatic --no-input >> /ygag/logs/app.out.collectstatic.log 2>&1"]'
      memory:
        requests: 1000Mi
        limits: 1500Mi
      cpu:
        requests: 100m
        limits: 1500m
      volumeMounts:
        - mountPath: '/ygag/logs/'
          name: 'ygag-youpayroll-[JIRA_ID]-qa-collectstatic-logs'
        - name: 'youpayroll-app-env-volume'
          mountPath: "/vault/secrets"


  volumes:
    - name: 'ygag-youpayroll-[JIRA_ID]-qa-collectstatic-logs'
      hostPath:
        path: '/home/ec2-user/ygag-logs/ygag-youpayroll-[JIRA_ID]-qa/collectstatic'
    - name: 'youpayroll-app-env-volume'
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: "youpayroll-envs"
    
    

  initContainers:
    database:
      - image: '420360167813.dkr.ecr.me-central-1.amazonaws.com/qa/postgres:16.6'
        cmd: 'pg_isready -p 5432'
        host: 'youpayroll-[JIRA_ID]-database'
        name: 'init-database'
    redis:
      - image: '420360167813.dkr.ecr.me-central-1.amazonaws.com/qa/redis:6.2.4'
        host: 'youpayroll-[JIRA_ID]-redis'
        name: 'init-redis'

  nodeSelector:
    key: 'karpenter.sh/nodepool'
    value: 'default'
  priorityClassName: 'qa-medium'
  restartPolicy: 'Never'
  terminationGracePeriodSeconds: 120

