namespace: 'youpayroll-[JIRA_ID]'

app_name: 'youpayroll-[JIRA_ID]'
environment: 'qa'

service:
  name: 'youpayroll-[JIRA_ID]-app'
  default:
    port: 8000
    protocol: 'TCP'
    targetPort: 8000

enableHPA: false
hpa:
  name: 'youpayroll-[JIRA_ID]-app-hpa'
  minReplicas: 2
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80

enableKedaCron: true
keda:
  name: 'youpayroll-[JIRA_ID]-app-keda'
  minReplicas: 0
  desiredReplicas: 2
  maxReplicas: 2
  start: "0 7 * * 1-5"
  end: "0 22 * * 1-5"
  cpu: 80

pdb:
  name: 'youpayroll-[JIRA_ID]-app-pdb'
  minAvailable: 50%

deployment:
  name: 'youpayroll-[JIRA_ID]-app-deployment'
  replicas: 2
  maxSurge: 100%
  maxUnavailable: 50%
  serviceAccountName: 'ygag-youpayroll-vault'

  containers:
    default:
      name: 'app'
      imagePullPolicy: 'IfNotPresent'
      image: '420360167813.dkr.ecr.me-central-1.amazonaws.com/qa/ygg/youpayroll/backend-app:[BUILD_TAG]'
      command: '["sh", "-c", "/bin/cat /vault/secrets/application.env /vault/secrets/application-devops.env > /etc/profile.d/application-env.sh ; sed -i \"s/\\[JIRA_ID\\]/[JIRA_ID]/g\" /etc/profile.d/application-env.sh ; source /etc/profile.d/application-env.sh ; sh /ygag/deployment/app/app-entrypoint.sh"]'
      env:
        - name: 'DJANGO_SETTINGS_MODUL'
          value: 'DJANGO_SETTINGS_MODULE'
      port: 8000
      memory:
        requests: 330Mi
        limits: 500Mi
      cpu:
        requests: 30m
      health:
        path: '/health/'
        port: 8000
        scheme: 'HTTP'
      startupProbe:
        initialDelaySeconds: 10
        periodSeconds: 5
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 7
      readinessProbe:
        initialDelaySeconds: 0
        periodSeconds: 15
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 3
      livenessProbe:
        initialDelaySeconds: 0
        periodSeconds: 15
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 4
      volumeMounts:
        - mountPath: '/ygag/logs/'
          name: 'ygag-youpayroll-[JIRA_ID]-qa-app-logs'
        - name: 'youpayroll-app-env-volume'
          mountPath: "/vault/secrets"


  volumes:
    - name: 'ygag-youpayroll-[JIRA_ID]-qa-app-logs'
      hostPath:
        path: '/home/ec2-user/ygag-logs/ygag-youpayroll-[JIRA_ID]-qa/app'
    - name: 'youpayroll-app-env-volume'
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: "youpayroll-envs"
    
    

  initContainers:
    database:
      - image: '420360167813.dkr.ecr.me-central-1.amazonaws.com/qa/postgres:16.6'
        cmd: 'pg_isready -p 5432'
        host: 'youpayroll-[JIRA_ID]-database'
        name: 'init-database'
    redis:
      - image: '420360167813.dkr.ecr.me-central-1.amazonaws.com/qa/redis:6.2.4'
        host: 'youpayroll-[JIRA_ID]-redis'
        name: 'init-redis'

  nodeSelector:
    key: 'karpenter.sh/nodepool'
    value: 'default'

  topologySpreadConstraints:
    - maxSkew: 2
      topologyKey: 'topology.kubernetes.io/zone'
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: 'youpayroll-[JIRA_ID]'
          tier: app
    - maxSkew: 2
      topologyKey: 'kubernetes.io/hostname'
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: 'youpayroll-[JIRA_ID]'
          tier: app

  priorityClassName: 'qa-medium'
  terminationGracePeriodSeconds: 60
