namespace: 'youpayroll'

app_name: 'youpayroll'
environment: 'production'

service:
  name: 'youpayroll-app'
  default:
    port: 8000
    protocol: 'TCP'
    targetPort: 8000

hpa:
  name: 'youpayroll-app-hpa'
  minReplicas: 5
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

pdb:
  name: 'youpayroll-app-pdb'
  minAvailable: 50%

deployment:
  name: 'youpayroll-app-deployment'
  replicas: 5
  maxSurge: 100%
  maxUnavailable: 0%
  serviceAccountName: 'ygag-youpayroll-vault'

  containers:
    default:
      name: 'app'
      imagePullPolicy: 'Always'
      image: '459037613883.dkr.ecr.me-central-1.amazonaws.com/production/ygg/youpayroll/backend-app:[BUILD_TAG]'
      command: '["sh", "-c", "source /vault/secrets/application.env ; source /vault/secrets/application-devops.env ; sh /ygag/deployment/app/app-entrypoint.sh"]'
      env:
        - name: 'DJANGO_SETTINGS_MODUL'
          value: 'DJANGO_SETTINGS_MODULE'
      port: 8000
      memory:
        requests: 400Mi
        limits: 500Mi
      cpu:
        requests: 100m
      health:
        path: '/health/'
        port: 8000
        scheme: 'HTTP'
      startupProbe:
        initialDelaySeconds: 10
        periodSeconds: 5
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 7
      readinessProbe:
        initialDelaySeconds: 0
        periodSeconds: 15
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 3
      livenessProbe:
        initialDelaySeconds: 0
        periodSeconds: 15
        timeoutSeconds: 5
        successThreshold: 1
        failureThreshold: 4
      volumeMounts:
        - mountPath: '/ygag/logs/'
          name: 'ygag-youpayroll-production-app-logs'
        - name: 'youpayroll-app-env-volume'
          mountPath: "/vault/secrets"

  volumes:
    - name: 'ygag-youpayroll-production-app-logs'
      hostPath:
        path: '/home/ec2-user/ygag-logs/ygag-youpayroll-production/app'
    - name: 'youpayroll-app-env-volume'
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: "youpayroll-envs"

  nodeSelector:
    key: "karpenter.sh/nodepool"
    value: 'default'

  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: 'topology.kubernetes.io/zone'
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: 'youpayroll'
          tier: app
    - maxSkew: 1
      topologyKey: "kubernetes.io/hostname"
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: 'youpayroll'
          tier: app

  priorityClassName: 'production-medium'
  terminationGracePeriodSeconds: 60
